    header .navbar-default .header-main{
    min-height: 85px;
    font-family: '黑体';
    font-size: 16px;
    color: #777;

}
header .navbar-default .header-main{
    background-color: #fff;
}
header .navbar-default .header-main #mycollapse{
    /*absoult定位*/
    position: relative;
}
header .navbar-default .header-main .navbar-collapse>ul>li>a{
    line-height: 55px;
    height: 83px;
    border-top: 2px solid transparent;

}
header .navbar-default .header-main .navbar-toggle{
    margin-top: 25px;
}
header .navbar-default .header-main .btn-g {
    position: absolute;
    right: 0;
    margin-top: 25px;
}
header nav .btn-login,header nav .btn-register{
    width: 60px;
    color: #fff;
    margin: 0 5px;
}
header nav .btn-login{
    background-color: #1abc9c;
}
header nav .btn-register{
    background-color: #3498db;
}
@media (min-width:768px){
    header .navbar-default .header-main .navbar-collapse>ul>li>a:hover{
        color: #9b59b6;
        border-top: 2px solid #3498db;
    }
}
@media (min-width:992px) and (max-width: 1200px){
     header .navbar-default .header-main .navbar-collapse>ul>li>a{
        padding: 10px;
    }
}
@media (max-width:768px){
    header .navbar-default .header-main .navbar-collapse>ul>li>a{
        line-height: 10px;
        height: 30px;
    }
    footer{
        text-align: center;
    }
    footer .row-attention{
        padding-left: 0;
    } 

}
    @media (min-width: 1200px) {
    	.desc {
    		position: relative;
    		max-width: 100%;
    		height: auto;
    		background-size: 100% auto;
    		text-align: center;
    	}
                .desc img{
                   min-height: 225px;
                }
    	.title {
    		position: absolute;
    		top: 23%;
    		left: 32%;
    	}
    	.title .desc0 {
    		margin-top: 5px;
    		font-family:'黑体';
    		font-size: 30px;
    		color: #FFFFFF;
    	}
    	.title .desc1 {
    		margin-top: 20px;
    		margin-bottom: 18px;
    		font-family:'黑体';
    		font-size: 20px;
    		color: #ffffff;
    		text-align: center;
    	}
    	.title .desc2 {
    		margin-bottom: 10px;
    		font-family:'黑体';
    		font-size: 15px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.title .desc3 {
    		margin-left: 10px;
    		margin-bottom: 10px;
    		font-family:'黑体';
    		font-size: 15px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.img-icon {
    		margin-top: 10px;
    		margin-bottom: 20px;
    	}
    	.img-icon:hover {
    		transform: scale(1.2);
    		webkit-transform: scale(1.2);
    	}
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
    	.desc {
    		position: relative;
    		max-width: 100%;
    		height: auto;
    		background-size: 100% auto;
    		text-align: center;
    	}
    	.title {
    		position: absolute;
    		top: 22%;
    		left: 28%;
    	}
    	.title .desc0 {
    		margin-top: 5px;
    		font-family:'黑体';
    		font-size: 25px;
    		color: #FFFFFF;
    	}
    	.title .desc1 {
    		margin-top: 5px;
    		margin-bottom: 4px;
    		font-family:'黑体';
    		font-size: 20px;
    		color: #ffffff;
    		text-align: center;
    	}
    	.title .desc2 {
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 15px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.title .desc3 {
    		margin-left: 10px;
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 15px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.img-icon {
    		margin-top: 10px;
    		margin-bottom: 20px;
    	}
    	.img-icon:hover {
    		transform: scale(1.2);
    		webkit-transform: scale(1.2);
    	}
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
          .navbar-nav{
                margin-top: 35px;
            }
    	.desc {
    		position: relative;
    		max-width: 100%;
    		height: 225px;
    		background-size: 100% auto;
    		text-align: center;
    	}
        .desc img{
                       min-height: 225px;
            }
    	.title {
    		position: absolute;
    		top: 28%;
    		left: 28%;
    	}
    	.title .desc0 {
    		margin-top: 5px;
    		font-family:'黑体';
    		font-size: 20px;
    		color: #FFFFFF;
    	}
    	.title .desc1 {
    		margin-top: 5px;
    		margin-bottom: 5px;
    		font-family:'黑体';
    		font-size: 15px;
    		color: #ffffff;
    		text-align: center;
    	}
    	.title .desc2 {
    		margin-bottom: 5px;
    		font-family:'黑体';
    		font-size: 12px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.title .desc3 {
    		margin-left: 10px;
    		margin-bottom: 5px;
    		font-family: '微软雅黑';
    		font-size: 12px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.img-icon {
    		margin-top: 10px;
    		margin-bottom: 20px;
    	}
    	.img-icon:hover {
    		transform: scale(1.2);
    		webkit-transform: scale(1.2);
    	}
    }
    
    @media (min-width: 640px) and (max-width: 767px) {
    	.desc {
    		position: relative;
    		max-width: 100%;
    		height: 180px;
    		background-size: 100% auto;
    		text-align: center;
    	}
        .desc img{
                       min-height: 200px;
            }
             .adapt{
                margin-top: 35px;
            }
    	.title {
    		position: absolute;
    		top: 38%;
    		left: 30%;
    	}
    	.title .desc0 {
    		margin-top: 3px;
    		font-family:'黑体';
    		font-size: 15px;
    		color: #FFFFFF;
    	}
    	.title .desc1 {
    		margin-top: 3px;
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 12px;
    		color: #ffffff;
    		text-align: center;
    	}
    	.title .desc2 {
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 10px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.title .desc3 {
    		margin-left: 10px;
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 10px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.img-icon {
    		transform: scale(0.8);
    		/*webkit-transform: scale(0.6);*/
    		/*margin-top: -8px;*/
    	}
    	.img-icon:hover {
    		transform: scale(1.0);
    		/*webkit-transform: scale(0.8);*/
    	}
    }
    
    @media (min-width: 420px) and (max-width: 639px) {
    	.desc {
    		position: relative;
    		max-width: 100%;
    		height: auto;
    		background-size: 100% auto;
    		text-align: center;
    	}
        .desc img{
                       min-height: 180px;
            }

    	.title {
    		position: absolute;
    		top: 33%;
    		left: 12%;
    		right: 12%;
    	}
    	.title .desc0 {
    		margin-top: 3px;
    		font-family:'黑体';
    		font-size: 15px;
    		color: #FFFFFF;
    	}
    	.title .desc1 {
    		margin-top: 3px;
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 12px;
    		color: #ffffff;
    		text-align: center;
    	}
    	.title .desc2 {
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 10px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.title .desc3 {
    		margin-left: 10px;
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 10px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.img-icon {
    		transform: scale(0.7);
    		/*webkit-transform: scale(0.6);*/
    		margin-top: -8px;
    	}
    	.img-icon:hover {
    		transform: scale(0.9);
    		/*webkit-transform: scale(0.8);*/
    	}
    }
    
    @media(max-width: 419px) {
    	.desc {
    		position: relative;
    		max-width: 100%;
    		height: auto;
    		background-size: 100% auto;
    		text-align: center;
    	}
             .desc img{
                       min-height: 140px;
            }
    	.title {
    		position: absolute;
    		top: 30%;
    		left: 8%;
    		right: 8%;
    	}
    	.title .desc0 {
    		margin-top: 3px;
    		font-family:'黑体';
    		font-size: 15px;
    		color: #fff;
    		display: block;
    	}
    	.title .desc1 {
    		margin-top: 3px;
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 12px;
    		color: #ffffff;
    		text-align: center;
    	}
    	.title .desc2 {
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 10px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.title .desc3 {
    		margin-left: 10px;
    		margin-bottom: 2px;
    		font-family:'黑体';
    		font-size: 10px;
    		color: #000000;
    		text-align: center;
    		cursor: pointer;
    	}
    	.container {
    		display: block;
    		/*margin-top: 120px;*/
    	}
    	.img-icon {
    		transform: scale(0.6);
    		/*webkit-transform: scale(0.6);*/
    		margin-top: -8px;
    	}
    	.img-icon:hover {
    		transform: scale(0.8);
    		/*webkit-transform: scale(0.8);*/
    	}
    }
    
    .container .txt1 {
    	font-family:'黑体';
    	color: #000000;
    	display: block;
    }
    
    .container .txt2 {
    	font-size: 1.1em;
    	display: block;
    	text-indent: 2em;
    }
    
    .container .btn {
    	color: #000000;
    }
    
    .tab1 {
    	margin-top: 20px;
    }
    
    .media-body {
    	text-align: center;
    	vertical-align: middle!important;
    }
    
    .media-body .media-heading {
    	color: #1B6D85;
    }
    
    .media-body .text-muted {
    	text-indent: 2em;
    }
    
    .bg-txt {
    	background-color: #222222;
    }
    
    .block-txt,
    .block-title,
    .block-icon,
    .block-content {
    	color: #FFFFFF;
    }
    
    .col {
    	display: inline-block;
    	margin-top: 8px;
    	height: 140px;
    }
    
    .block-icon {
    	font-size: 30px;
    }
    
    .block-content {
    	height: 40px;
    	overflow: hidden;
    }
    
    .block-title1,
    .block-icon1,
    .block-content1 {
    	color: #000000;
    }
    
    .col1 {
    	display: inline-block;
    	margin-top: 15px;
    	height: 250px;
    }
    
    .block-icon1 {
    	font-size: 3.5rem;
    	line-height: 95px;
    	display: inline-block;
    	width: 100px;
    	height: 100px;
    	cursor: default;
    	transition: all .4s ease;
    	color: #fff;
    	border: 6px solid #e1e3e4;
    	border-radius: 50%;
    	background: #3bb878;
    	webkit-transition: all .4s ease;
    }
    
    .block-icon1:hover {
    	transform: scale(1.3);
    	background: #de6262;
    	webkit-transform: scale(1.3);
    }
    /*.img-icon{
		margin-top: 10px;
		margin-bottom: 20px;
	}*/
    /*.img-icon:hover{
		transform: scale(1.2);
		webkit-transform: scale(1.2);
	}*/
    
    .block-icon:hover {
    	color: #5cb85c;
    	;
    }
    
    .block-title1 {
    	margin-top: 18px;
    }
    
    .block-content1 {
    	margin-top: 5px;
    	height: 40px;
    	overflow: hidden;
    }
    
footer{
	background-color: #272b35;
	border-top: 2px solid #009635;
	padding-top: 35px;
}
footer .footer-main .left-p{
	font-size: 13px;
	margin-top: 10px;
	color: #bbb;
	padding: 0  20px 0 0;
}
footer .footer-main .btn-contacts{
	padding: 8px 85px 8px 85px;
	color: #c2c2c2;
	background-color: #337ab7;
	margin-top: 20px;
	font-family: '黑体';
}
footer .footer-main .btn-contacts span{
	margin-right: 5px;
}
footer .footer-main .footer-center{
	margin: 20px 0;
}
footer .footer-main .footer-center li{
	font-size: 14px;
	list-style: none;
	padding: 5px 0;
	line-height: 20px;
	font-family: '黑体';
	color: #c2c2c2;
}

footer .footer-main .footer-center .footer-title{
	font-size: 20px;
	margin-bottom: 12px;
	/*padding-bottom: 10px;*/
}
footer .footer-main .footer-center .email{
	color: #00c3b6;
}
footer .footer-main .footer-center span{
	font-size: 18px;
	margin-right: 10px;
}
footer .footer-bottom{
	text-align: center;
	padding-bottom: 30px;
}
footer .footer-bottom h3{
	text-align: center;
	font-size: 14px;
	margin: 20px 0;
	color: rgba(255,255,255,.2);
}
footer .footer-bottom span{
	font-size: 18px;
}


.navbar-default{
	border-color: transparent;
}

.glyphicon-search{
	color: #2980b9;
	font-size: 18px;
	vertical-align: middle;
}
